<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-secondary p-4">
    <div class="d-flex flex-column">
      <div class="p-2"><a href="/dashboard">Home</a></div>
      <div class="p-2"><a href="/event">Event</a></div>
      <div class="p-2"><a href="/resource">Resource</a></div>
      <div class="p-2"><a href="/profile">Profile</a></div>
      <div class="p-2"><a href="/feedback">Feedback</a></div>
      <div class="p-2"><a href="/users/logout">Logout</a></div> 
    </div>
  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard">Programming Club</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard">Home
            <!-- <span class="visually-hidden">(current)</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/event">Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/resource">Resource</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/profile">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/feedback">Feedback</a>
        </li>
        
      </ul>
      <a href="/users/logout" class="btn btn-secondary ms-5">Logout</a>
    </div>
  </div>
</nav>