<%- include('includes/admin_navbar.ejs') %>

    <div class="chart_container">
        <h1 style="text-align: center;" class="text-primary font-weight-bold ">Graph of Register student by programme</h1>
        <div style="display: none;" id="data"><%= programme_data %></div>
        <canvas id="Chartprograme" class="bg-white mt-4"></canvas>
    </div>

    <div class="chart_container">
        <h1 style="text-align: center;" class="text-primary font-weight-bold">Graph of Register student by year</h1>
        <div style="display: none;" id="data1"><%= year_data %></div>
        <canvas id="Chartyear" class="bg-white mt-4"></canvas>
    </div>

    <style>
        .chart_container {
            margin-top: 50px;
            margin-left: 250px;
            margin-right: 250px;
            margin-bottom: 100px;
        }

        @media screen and (max-width: 1250px) {
            .chart_container {
                margin-left: 200px;
                margin-right: 200px;
            }
        }

        @media screen and (max-width: 1020px) {
            .chart_container {
                margin-left: 160px;
                margin-right: 160px;
            }
        }

        @media screen and (max-width: 850px) {
            .chart_container {
                margin-left: 130px;
                margin-right: 130px;
            }
        }

        @media screen and (max-width: 700px) {
            .chart_container {
                margin-left: 100px;
                margin-right: 100px;
            }

            h1 {
                font-size: 5vw;
            }
        }

        @media screen and (max-width: 650px) {
            .chart_container {
                margin-left: 50px;
                margin-right: 50px;
            }
        }

        @media screen and (max-width: 500px) {
            .chart_container {
                margin-left: 10px;
                margin-right: 10px;
            }

            h1 {
                font-size: 10vw;
            }
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('Chartprograme').getContext('2d');
        // let x = (document.getElementById('data').innerHTML);
        // x = x.substring(1, x.length-1);
        // console.log(x)
        // console.log(document.getElementById('data').innerHTML.slice(1, -1).split(','));

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['B.Tech - ICT', 'B.Tech - CS', 'B.Tech - MNC', 'MscIT', 'M.Tech - ML', 'M.Tech - DS'],
                datasets: [{
                    data: document.getElementById('data').innerHTML.slice(1, -1).split(','),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255,0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var ctx1 = document.getElementById('Chartyear').getContext('2d');
        // let x1 = (document.getElementById('data1').innerHTML);
        // x1 = x1.substring(1, x1.length-1);
        // console.log(x1)

        var myChart = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: ['1st year', '2nd year', '3rd year', '4rd year'],
                datasets: [{
                    label: 'registration by year',
                    data: document.getElementById('data1').innerHTML.slice(1, -1).split(','),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255,0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>