<body class="bg-light">
  <div class="card bg-dark">
    <div class="card-header">Check Email</div>
    <div class="card-body">
      
      <p class="card-text">Kindly check your mailbox we have share change password link to your register mail id <%- email %></p>
    </div>
  </div>
</body>

<style>
  .card{
    margin-top: 20%;
    margin-left: 25%;
    color: white;
    width: 50%;
  }
  @media screen and (max-width:430px) {
    .card{
      margin-left: 15%;
      width: 70%;
    }
  }
</style>