<body class="bg-light">
  
  <div class="card" style="width: 60rem; margin-left: 18rem; margin-top: 15rem;">
    <h5 class="card-header">Check Email</h5>
    <div class="card-body">
      <p class="card-text">Kindly check your mailbox we have share change password link to your register mail id <%- email %>
      </div></p>
    </div>
  </div>
</body>  